::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* padding: 20px; */
    border-radius: 50px;
    margin: 70px;
  }
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    
  } */
  ::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 50px;
    background-color: #AAAAAA;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .logo{
    width: 50px;
    height: 50px;
    margin:15px;
  }
  
  .searchBarBorder{
  
    border-radius: 30px;
    border: 0;
    margin:15px;
    text-align: center;
    width:300px;
    height: 40px;
    background-color: D9D9D9;
  }
  
  .searchBar
  {
    margin-top: 5px;
    border: 0;
    outline: 0;
    background-color: D9D9D9;
    text-align: center;
  }
  
  .searchIcon{
    text-align: right;
  }
  
  .topnav {
    overflow: hidden;
    margin-left: 400px;
    margin-top:10px;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: 2BB673;
  }
  .groupsContainer{
      overflow-y: scroll;
      margin: 20px;
      padding:50px 75px 50px 75px;
      background-color: 2BB673;
      border-radius: 55px;
  }
  .group-border{
      display: flex;
      justify-content: space-between;
      background-color: 282828;
      color: FFFFFF;
  
      
      border-radius: 31px;
      width:483px;
      padding-top: 8;
      padding-left: 55;
      padding-right: 55;
  
      margin:20px;
  }
  
  td{
    padding :50px 50px;
  }
  .plus-icon{
      height:70px;
      width:70px;
      font-size: 70px;
      border:0;
      outline:0;
      margin-bottom:10px;
      text-align: center;
      padding-left: 30px;
  }
  
  .acc-div{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #acc-img{
    width: 60px;
    height: 60px;
    border: solid;
    border-color: 2BB673;
    border-width: 3px;
    border-radius: 50px;
  }

  .switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(18, 17, 17);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(250, 247, 247);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #060b0e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #080909;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .row{
    font-size: 15px;
    padding-top: 15px;
  }
